<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <%- include ('../../partials/sidebar', {items: sidebarItems}) %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include ('../../partials/navbar') %>
            <!-- Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><%= navbarTitle %></h1>
                </div>
                <div class="row mb-3 ml-1">
                    <div class="col-12">
                        <% if ( successFlash.length > 0 ) { %>
                            <div class="alert alert-success mb-2" role="alert">
                                <%= successFlash %>
                            </div>
                        <% } %>
                        <% if ( errorFlash.length > 0 ) { %>
                            <div class="alert alert-danger mb-2" role="alert">
                                <%= errorFlash %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <form action="/customer/checkout" method="post">
                    <input type="hidden" name="rid" value="<%= restaurant.id %>">
                    <div class="row">
                        <div class="col-8">
                            <div class="row mr-1 ml-1">
                                <div class="col-12">
                                    <div class="card mb-3 border-0">
                                        <div class="card-body text-center">
                                            <h1 class="card-title text-center"><%= restaurant.rname %></h1>
                                            <p class="card-text text-muted text-center"><%= restaurant.description %></p>
                                            <button class="btn btn-link text-primary"
                                                    data-toggle="modal"
                                                    data-target="#reviewModal">Reviews
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <% foods.forEach(food => { %>
                                    <div class="col-6 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <% if (food.daily_limit <= food.daily_sold) { %>
                                                        <span class="badge badge-pill badge-danger align-middle">Sold out</span>
                                                    <% } else if (food.daily_limit - food.daily_sold <= 5) { %>
                                                        <span class="badge badge-pill badge-warning align-middle">
                                                     Only <%= food.daily_limit - food.daily_sold %> left
                                                 </span>
                                                    <% } %>
                                                    <%= food.food_name %>
                                                </h5>
                                                <p class="card-text text-muted">
                                                    <span class="badge badge-pill badge-info align-middle"><%= food.food_category %></span>
                                                    <%= food.food_description %>
                                                </p>
                                                <span class="card-text">
                                            <%= food.price %>
                                        </span>
                                                <div class="text-right">
                                                    <button class="btn btn-light" type="button"
                                                            onclick="increase('<%= food.food_name %>')"
                                                            <%= food.daily_limit <= food.daily_sold ? ' disabled ' : '' %>
                                                    >
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                    <label class="ml-2 mr-2" id="<%= food.food_name %>">0</label>
                                                    <input type="hidden" id="<%= food.food_name %>-hidden"
                                                           name="<%= food.food_name %>"
                                                           value=0>
                                                    <button class="btn btn-light" type="button"
                                                            onclick="decrease('<%= food.food_name %>')"
                                                            <%= food.daily_limit <= food.daily_sold ? ' disabled ' : '' %>
                                                    >
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card ml-0">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Checkout</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <select name="location"
                                                required
                                                class="browser-default custom-select custom-select-lg mb-3"
                                        >
                                            <option selected disabled value="">Deliver to...</option>
                                            <% locations.forEach(function (location) { %>
                                                <option value="<%= location.lat + ' ' + location.lon %>"><%= location.address %></option>
                                            <% }) %>
                                        </select>
                                        <select name="payment"
                                                required
                                                class="browser-default custom-select custom-select-lg mb-3"
                                        >
                                            <option selected disabled value="">Pay by...</option>
                                            <option value="Cash">Cash</option>
                                            <% if (cardLastFourDigits !== "") { %>
                                                <option value="Card">Card (XXXX-XXXX-XXXX-<%= cardLastFourDigits %>)
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <button class="btn btn-outline-success mr-3" type="submit"><strong>Checkout</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Main Content -->
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalTitle">Reviews</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% reviews.forEach(function (review) { %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-left text-lg text-primary text-wrap"
                                             style="overflow-wrap:break-word;"><%= review.content %></div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-muted text-xs text-right mt-2">Reviewed
                                                                                        at <%= review.create_time.toLocaleString() %>
                                                                                        by anonymous customer
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script>
    function increase(foodName) {
        counter = document.getElementById(foodName);
        counter.textContent = parseInt(counter.textContent) + 1;
        document.getElementById(foodName + "-hidden").value = parseInt(counter.textContent, 10);
    }

    function decrease(foodName) {
        counter = document.getElementById(foodName);
        counter.textContent = (parseInt(counter.textContent) - 1) < 0 ? 0 : (parseInt(counter.textContent) - 1);
        document.getElementById(foodName + "-hidden").value = parseInt(counter.textContent, 10);
    }
</script>

<%- include ('../../partials/foot') %>
</body>

</html>
