<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <%- include ('../../partials/sidebar', {items: sidebarItems}) %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include ('../../partials/navbar') %>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><%= navbarTitle %></h1>
                </div>
                <div class="row mb-3 ml-1">
                    <div class="col-12">
                        <% if ( successFlash.length > 0 ) { %>
                            <div class="alert alert-success mb-2" role="alert">
                                <%= successFlash %>
                            </div>
                        <% } %>
                        <% if ( errorFlash.length > 0 ) { %>
                            <div class="alert alert-danger mb-2" role="alert">
                                <%= errorFlash %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% orders.forEach(function (order) { %>
                    <div class="row mr-1 ml-1 mb-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex  justify-content-between">
                                        <span><span class="badge badge-pill badge-primary mr-2">Active</span><strong><%= order.rname %></strong></span>
                                        <span>Placed at <%= order.time_placed.toLocaleString("en-US") %></span>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <% order.allFoods.forEach(function (food) { %>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-6">
                                                    <%= food.food_name === null ? 'Deleted item' : food.food_name %>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <%= food.quantity %>
                                                </div>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                                <div class="card-footer text-muted">
                                    <div class="row">
                                        <div class="col-6 text-left">
                                            <strong><%= order.food_cost %></strong> <span
                                                    class="text-muted">(inclusive of <%= order.delivery_cost %> delivery fee)</span>
                                            <br>
                                            <span class="text-muted">Payment method: <strong><%= order.payment_mode %></strong></span>
                                            <br>
                                            <span class="text-muted">Remarks: <strong><%= order.remarks %></strong></span>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button class="btn btn-outline-primary"
                                                    data-toggle="modal"
                                                    data-target="#reviewModal" data-oid="<%= order.id %>">Review
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <!-- /.container-fluid -->

        </div>
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalTitle">Write a Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/customer/orders/addreview" method="post">
                        <div class="modal-body">
                            <input type="hidden" id="oid" name="oid">
                            <div class="row">
                                <div class="col-md-12">
                                    How is the delivery experience?
                                    <select required class="custom-select form-control mb-3" name="role"
                                            id="roleSelect">
                                        <option value="Excellent">Excellent</option>
                                        <option value="Good">Good</option>
                                        <option value="Average">Average</option>
                                        <option value="Bad">Bad</option>
                                        <option value="Terrible">Terrible</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control"
                                              id="1"
                                              name="review"
                                              rows="6"
                                              required
                                              placeholder="What do you think of the food?"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create/Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include ('../../partials/foot') %>
<script>
    $("#reviewModal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var oid = button.data("oid"); // Extract info from data-* attributes
        var modal = $(this);
        modal.find(".modal-body #oid").val(oid);
    });
</script>
</body>

</html>

