<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link href="/stylesheets/rider-schedule.css" rel="stylesheet">
    <% const dateToUrl = function (date) {
        return [date.getFullYear(), '-',
            date.getMonth() < 9 ? 0 : '', date.getMonth() + 1, '-',
            date.getDate() < 10 ? 0 : '', date.getDate()].join('');
    } %>
    <% const dateToDisplay = function (date) {
        return [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/');
    } %>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <%- include ('../../partials/sidebar', {items: sidebarItems}) %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include ('../../partials/navbar', {navbarTitle: navbarTitle}) %>

            <!-- Schedule Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-2">
                    <h1 class="h3 mb-0 text-gray-800"><%= navbarTitle %></h1>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <% if ( successFlash.length > 0 ) { %>
                            <div class="alert alert-success mb-4" role="alert">
                                <%= successFlash %>
                            </div>
                        <% } %>
                        <% if ( errorFlash.length > 0 ) { %>
                            <div class="alert alert-danger mb-4" role="alert">
                                <%= errorFlash %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% start_of_week.setDate(start_of_week.getDate() + 7);
                let next_link = "/rider/schedule/" + dateToUrl(start_of_week);
                start_of_week.setDate(start_of_week.getDate() - 14);
                let last_link = "/rider/schedule/" + dateToUrl(start_of_week);
                start_of_week.setDate(start_of_week.getDate() + 7);
                %>
                <a href="<%=last_link%>" class="btn btn-link" role="button">Last Week</a>
                <a href="<%=next_link%>" class="btn btn-link" role="button" aria-disabled="true">Next Week</a>
                <table>
                    <caption>Weekly Work Schedule of Month</caption>
                    <body>
                    <tr>
                        <th id="head">#</th>
                        <td id="head">10:00</td>
                        <td id="head">11:00</td>
                        <td id="head">12:00</td>
                        <td id="head">13:00</td>
                        <td id="head">14:00</td>
                        <td id="head">15:00</td>
                        <td id="head">16:00</td>
                        <td id="head">17:00</td>
                        <td id="head">18:00</td>
                        <td id="head">19:00</td>
                        <td id="head">20:00</td>
                        <td id="head">21:00</td>
                    </tr>
                    <% schedules.forEach(function (schedule) { %>
                        <tr>
                            <th id="middle">
                                <%= dateToDisplay(start_of_week) %>
                            </th>
                            <%let current_hour = 10%>
                            <% schedule.forEach(function (interval) { %>
                            <%if (current_hour < interval[0]) { %>
                                <td id="content" colspan="<%= interval[0] - current_hour%>" ></td>
                                <%current_hour = interval[0]%>
                            <% } %>
                            <td id="content" colspan="<%= interval[1]%>" class="stage-saturn" >
                                <%= current_hour%>:00 - <%= current_hour + interval[1]%>:00
                            </td>
                            <%current_hour += interval[1]%>
                            <% }) %>
                        </tr>
                        <%start_of_week.setDate(start_of_week.getDate() + 1)%>
                    <% }) %>
                    <%start_of_week.setDate(start_of_week.getDate() - 7)%>
                    </body>
                </table>

                <div class="col-6 text-right">
                    <button class="btn btn-outline-primary mb-2"
                            data-toggle="modal"
                            data-target="#ScheduleModal"
                            data-start_of_month="<%= start_of_month %>"
                            data-start_of_week="<%= start_of_week %>"
                            data-work_week = "<%= work_week %>">Create/Update
                    </button>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Modal -->
        <div class="modal fade" id="ScheduleModal" tabindex="-1" role="dialog" aria-labelledby="FTScheduleModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="width:700px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FTScheduleModalTitle">
                            Select Schedule for 4 Weeks from <%= dateToDisplay(start_of_month) %>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/rider/schedule/changeFTSchedule" method="post">
                        <div class="modal-body">
                            <input type="hidden" id="start_of_month" name="start_of_month">
                            <input type="hidden" id="start_of_week" name="start_of_week">
                            <% for (let day = 0; day < 7; day ++) { %>
                                <% let shift = work_week[day]%>
                                <select required class="custom-select form-control mb-3" name="day<%= day%>_shift" id="day<%= day%>_shift">
                                    <option selected value=<%=shift%>>Choose shift for <%= dateToDisplay(start_of_week)%> ...</option>
                                    <option value='0'>Rest Day :)</option>
                                    <option value='1'>Shift 1 (10:00 - 14:00 and 15:00 - 19:00)</option>
                                    <option value='2'>Shift 2 (11:00 - 15:00 and 16:00 - 20:00)</option>
                                    <option value='3'>Shift 3 (12:00 - 16:00 and 17:00 - 21:00)</option>
                                    <option value='4'>Shift 4 (13:00 - 17:00 and 18:00 - 22:00)</option>
                                </select>
                                <%start_of_week.setDate(start_of_week.getDate() + 1)%>
                            <% } %>
                            <%start_of_week.setDate(start_of_week.getDate() - 7)%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create/Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Modal -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include ('../../partials/foot') %>
<script>
    $("#ScheduleModal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var start_of_month = button.data("start_of_month");
        var start_of_week = button.data("start_of_week");
        var work_week = button.data("work_week");
        var modal = $(this);
        modal.find(".modal-body #start_of_month").val(start_of_month);
        modal.find(".modal-body #start_of_week").val(start_of_week);
    });
</script>
</body>

</html>
